@layer components {
  .link {
    text-decoration: none;
    text-decoration-thickness: from-font;
    text-underline-offset: 0.2em;
    transition: all var(--motion-duration-normal) ease-in;
  }

  .link.button--primary {
    color: var(--color-text-secondary);
  }

  .link--muted {
    color: var(--color-text-muted);
  }

  .link--underline {
    text-decoration: underline;
  }

  .link--nav:hover,
  .link--nav[aria-current="page"] {
    color: var(--color-text-muted);
  }
}