@use "../abstracts/mixins" as *;

@layer widgets {
  .hero {
    display: flex;
    align-items: center;
    min-height: 82vh;
  }

  .hero__layout {
    display: flex;
    gap: var(--spacing-xl);
  }

  .hero__content {
    width: 100%;
    max-width: 46%;
  }

  .hero__title {
    white-space: pre-line;
  }

  .hero__description {
    color: var(--color-text-inverse);
  }

  .hero__media {
    width: 100%;
    max-width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;

  }

  .hero__image,
  .hero__video {
    width: 100%;
    height: 100%;
    margin-left: 1rem;
    mask-image: url("/src/assets/img/hero-mask.svg");
    mask-repeat: no-repeat;
    mask-position: left;
    mask-size: cover;
    -webkit-mask-image: url("/src/assets/img/hero-mask.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left;
    -webkit-mask-size: cover;
  }

  .image-decorative {
    width: 100%;
    max-width: 26%;
    position: absolute;
    z-index: 0;
    opacity: .2;
    pointer-events: none;
    aspect-ratio: 500 / 700;
  }

  .image-decorative--left {
    top: 0;
    left: 0;
  }

  .image-decorative--right {
    right: 0;
    bottom: 0;
  }

  .hero__border {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
  }
}