@layer components {
.icon-w-f {
  fill: transparent;
}

.icon-w-s {
  stroke: transparent;
}

.icon-bg {
  width: 100%;
  height: 82dvh;
  color: var(--color-background-inverse);
  position: absolute;
  z-index: 0;
  bottom: -6px;
  left: 0;
}
 
}